body {
    color:#C0C0C0;
	background-color: #333333;
	font-family: Helvetica,Arial,sans-serif;
	background-image: linear-gradient(to right, black, #373737);
}
h1 {
	font-size:380%;
	color: transparent;
	padding-top:0.1%;
	padding-bottom:0.03%;
	margin-top:0.1%;
	margin-bottom:0.05%;
	text-align:center;
	/*background-image:url("logotitre.png");*/
}
h2 {
	margin-top:0%;
	color: #D0D0D0;
}
.h2 {
	text-align:center;
} 
h3 {
	color: #929292;
}
a {
	color: #ff9d00;
	text-decoration:none;
}
.a2 {
	float:right;
}
hr {
	color: #ff9d00;
	text-decoration:none;
	clear:both;
} 
   .img1 {/*clear:both;*/
   width:12%;
   margin-bottom:1.7%;
	
	}
	.img2 {float:right;width:25%;
	}
	.albumimg{width:45%;text-align:center;
	} 
	.div1 {float:left;padding-left:12%;padding-right:12%;background-color:#101010;margin-left:0%;margin-right:0%;width:76%;
	}
	.div2 {float:left;width:12%;margin-left:1%;margin-right:1%;padding-left:0.5%; padding-right:0.5%; background-color:#373737;
	}
	.div25 {float:left;width:12%;margin-left:1%;margin-right:1%;padding-left:0.5%; padding-right:0.5%; background-color:#252525;
	}
	
	.div3 {float:left;width:36%;margin-left:1%;margin-right:1%;padding-left:1%; padding-right:1%; background-color:#171717;
	}
	.div4 {float:left;width:12%;margin-left:1%;margin-right:1%;padding-left:0.5%; padding-right:0.5%; background-color:#101010;
	}
	.div45 {float:left;width:12%;margin-left:1%;margin-right:1%;padding-left:0.5%; padding-right:0.5%; background-color:#000000;
	} 
@viewport {
   width: device-width;
}
@media screen and (min-width: 1px) and (max-width: 800px) {
   .img1 {
	display:inline;
	width:45%;
	float:none;
	/*clear:both;*/
	}
	.img2 {
	float:none;
	/*clear:both;*/
	display:inline;
	padding:inherit;
	width:45%;
	}
	.albumimg{width: 80%;
	}
	a{
	clear:both;
	}
	.div1 {
	float: none;
	clear:both;
	display:block;
	width:100%;
	margin:0%;
	}
	.div2 {
	float: none;
	clear:both;
	display:block;
	width:100%;
	}
	.div25 {
	float: none;
	clear:both;
	display:block;
	width:100%;
	}
	.div3 {
	float: none;
	clear:both;
	display:block;
	width:100%;
	}
	.div4 {
	float: none;
	clear:both;
	display:block;
	width:100%;
	}
	.div45 {
	float: none;
	clear:both;
	display:block;
	width:100%;
	}
	h1 {
	text-align:left;
	font-size:210%;
	padding-top:inherit;
	padding-bottom:inherit;
	margin-top:inherit;
	margin-bottom:inherit;
	}
	.h2 {
	text-align:left;
	}
	.a1 {
	display:block;
	}
	.a2 {
	display:block;
	float:none;
	}
}


