/************ COMMON ************/

@font-face
{
    font-family: 'Pacifico';
    src:url('../font/Pacifico.ttf') format('truetype');
}
body {
    color:#C0C0C0;
    background-color: #333333;
    font-family: Helvetica,Arial,sans-serif;
    background-image: linear-gradient(to right, black, #373737);
    margin: 0;
}

body *
{
    box-sizing: border-box;
}

ul
{
    padding: 0;
    list-style: none;
}

a 
{
    color: #ff9d00;
    text-decoration:none;
}
a:hover
{
	color: white;
}

hr 
{
    color: #ff9d00;
    border: 0px;
    border-top: 1px solid;
}
h1
{
    font-family: 'Pacifico';
    font-weight: normal;
    font-size: 3em;
}
h1 a
{
    color: white;
    text-shadow: 0px 3px #fb7700;
}
h1 a:hover
{
    /*color: #fb7700;*/
    text-shadow: 0px 1px #fb7700;
    position: relative;
    top: 2px;
}
h2
{
    color: #ff9d00;
}

/************ BODY HEADER ************/

body > header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 5px;
}
body > header #logo_dogmazic
{
    width: 50px;
}
body > header .espace
{
    flex: 1;
}
body > header *:not(a)
{
    margin: 5px;
}
body > header > a:first-child
{
    margin-top: 5px;
}
#advSearch
{
    font-size: 90%;
}
#loupe
{
    display: none;
}

/************ MAIN HEADER ************/

main > header
{
    background-color: rgba(250,250,250,0.1);
    padding: 0 10px 10px 10px;
    position: relative;
    text-align: center;
}
main > header h1
{
    margin: 0;
}
main > header #bouton_irc
{
    display: none;
}
main > header #bouton_don, #logo_don
{
    position: absolute;
    top: 50%;
    left: 2vw;
    transform: translateY(-50%);
}
main > header #logo_don, main > header #logo_mobile
{
    display: none;
    cursor: pointer;
}

main > header .flag
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 20px;
    margin-bottom: 20px;
}
main > header #apps_mobiles, #logo_mobile
{
    position: absolute;
    top: 50%;
    right: 2vw;
    transform: translateY(-50%);
}

main > header #apps_mobiles, #bouton_don, #bouton_irc
{
    border: 1px solid rgb(250,250,250);
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    color: rgb(250,250,250);
}
main > header #apps_mobiles:hover, #bouton_don:hover, #bouton_irc:hover
{
    background-color: rgba(250,250,250,0.1);
}

/*********** MENU MUSIQUE *********/

#menuMusique
{
    border: none;
    border-radius: 0;
    display: block;
    background-color: transparent;
    text-align: center;
}

#menuMusique h4
{
    padding: 10px 10px;
    /*background-color: rgb(20,20,20);*/
    /*background-color: rgb(251,119,0);*/
    background-color: #ff9d00;
    color: rgb(20,20,20);
    transition: 0.5s;
    margin: 0;
}
#menuMusique ul
{
    max-height: 0;
    overflow: hidden;
    margin: 0;
    transition: 1s;
}
#menuMusique a
{
    color:#C0C0C0;
}
#menuMusique:hover ul
{
    max-height: 100vh;
}
#menuMusique:hover h4
{
    /*color: #ff9d00; */
    color: black;
    /*background-color: rgb(10,10,10);*/
    /*background-color: #ff9d00;*/
    background-color: rgb(251,119,0);
}
#menuMusique li
{
    margin: 5px auto;
    padding: 5px;
    background-color:  rgba(250,250,250,0.1);
    /*background-color: rgb(251,119,0);*/
    /*color: rgb(20,20,20);*/
    /*text-indent: 10px;*/
    transition: 0.5s;
    width: 100%;
}
#menuMusique li:hover
{
    /*transform: translateX(20px);*/
    width: 80%;
    /*border-radius: 10px;*/
    /*color: black;*/
    color: white;
    background-color: rgba(250,250,250,0.2);
    /*background-color: #ff9d00;*/
}


/************ ALBUMS ************/

#albums
{
    padding: 10px;
}
#albumList
{
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
}
#albumList .album 
{
    display: inline-block;
    vertical-align: top;
    width: 10%;
    margin-bottom: 10px;
    text-align: center;
}
#albumList .albumimg
{
    width: 80%;
}
#albumList .album:hover .albumimg
{
	/*border: 1px solid #ff9d00;*/
}
#albumList .album:hover a
{
	color: white;
}
#albumList p
{
    font-size: 80%;  
}

/************ COMMENTAIRES & FORUM ************/

aside#commentsAndForum
{
    width: 30%;
    padding: 0 10px;
    float: right;
}

aside > *
{
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    background-color: rgba(250,250,250,0.1);
    margin: 0 10% 10px;
}
aside > * p
{
    padding: 10px;
    margin: 0;
}
aside > * h4
{
    padding: 20px 10px;
    margin: 0;
    text-align: center;
}

.comment
{
    color:#C0C0C0;
}
.commentAuthor, .pubDate
{
    font-size: 80%;
}
#comments a:nth-child(odd) p, #forum p:nth-child(odd), #blog p:nth-child(odd)
{
    background-color: rgba(250,250,250,0.1);
}
.box_title
{
    position: relative;
    box-sizing: content-box;
    cursor: pointer;
}
.box_plus
{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 150%;
}
.box_content
{
    max-height: 0;
    overflow: hidden;
}

/************ PUBLIER ************/

article#publier
{
    margin-right: 30%;
    /*margin-left: 10px;*/
    margin-left: 10%;
    border: 1px solid #ff9d00;
    text-align: justify;
}
article#publier p
{
    margin: 0;
}
article#publier h3, article#publier p
{
    padding: 0 10px;
}
article#publier .note
{
    font-size: 80%;
    background-color: rgba(250,250,250,0.1);
    display: block;
    padding: 10px;
    margin-top: 10px;
}
article#publier hr
{
    display: none;
}

/************ MUSIQUE LIBRE ************/

article#musique_libre
{
    margin-right: 30%;
    /*margin-left: 10px;*/
    margin-left: 10%;
    padding: 10px;
    text-align: justify;
}
#logo_ml
{
    float: right;
    width: 200px;
    margin: 0 0 5px 5px;
}
#liens_dons
{
    text-align: center;
}
#liens_dons h4
{
    color: rgb(250,250,250);
}
#liens_dons img
{
    display: block;
    margin: auto;
}

/************ FOOTER ************/

main > footer
{
    background-color: rgba(250,250,250,0.1);
    padding: 2px 20px;
    text-align: justify;
    font-size: 90%;
}

/************ POPUP ************/

#apps_mobiles_popup
{
    display: none;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    width: 600px;
    max-width: 75vw;
    background-color: rgb(100,100,100);
    border: 1px solid rgb(250,250,250);
    border-radius: 5px;
    color: rgb(250,250,250);
    padding: 15px;
}
#apps_mobiles_popup header button
{
    background: 0 0;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 150%;
    cursor: pointer;
}
#apps_mobiles_popup header button:hover
{
    color: rgb(50,50,50);
}
#apps_mobiles_popup header h4
{
    margin: 5px 0 15px 0;
}
#apps_mobiles_popup header, #apps_mobiles_popup article
{
    border-bottom: 1px solid rgb(250,250,250);
}
#apps_mobiles_popup footer
{
    padding-top: 15px;
}
#apps_mobiles_popup footer button
{
    background: 0 0;
    padding: 6px 12px;
    border: 1px solid rgb(250,250,250);
    border-radius: 5px;
    float: right;
    color: rgb(250,250,250);
    cursor: pointer;
}
#apps_mobiles_popup footer button:hover
{
    background-color: rgb(80,80,80);
}

/************ RESPONSIVE ************/

@media (max-width: 1100px)
{
    main > header #bouton_don
    {
        display: none;
    }
    main > header #logo_don
    {
        display: block;
        left: 8vw;
        width: 35px;
    }
/*}
@media (max-width: 900px)
{*/
    body > header form
    {
        display: none;
    }
    body > header #loupe
    {
        display: block;
        margin-right: 10px;
    }
    body > header #loupe img
    {
        width: 30px;
    }
    main > header #apps_mobiles
    {
        display: none;
    }
    main > header #logo_don
    {
        left: 5vw;
    }
    main > header #logo_mobile
    {
        display: block;
        right: 5vw;
        width: 30px;
    }
    #albumList .album 
    {
        width: 20%;
    }
    aside#commentsAndForum
    {
        width: 100%;
        float: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #comments, #forum, #blog
    {
        width: 32.5%;
        /*margin-bottom: 10px;*/
        margin: 0 0 10px;
    }
    #menuMusique
    {
        width: 100%;
    }
    article#musique_libre, article#publier
    {
        /*margin-right: 10px;*/
        margin: 0 10px;
    }
}
@media (max-width: 800px)
{
    body
    {
        font-size: 14px;
    }
    main > header .flag
    {
        width: 25px;
        height: 15px;
    }
    #logo_ml
    {
        width: 150px;
    }
}
@media (max-width: 700px)
{
    main > header p
    {
        display: none;
    }
    main > header #bouton_irc
    {
        display: block;
        margin: 15px auto;
        padding: 5px 10px;
        width: 100px;
    }
    main > header #logo_don
    {
        left: 10vw;
    }
    main > header #logo_mobile
    {
        right: 10vw;
    }
    aside#commentsAndForum
    {
        width: 100%;
        float: none;
        display: block;
    }
    #comments, #forum, #blog
    {
        width: 100%;
        max-width: 550px;
        margin: 0 auto 10px auto;
    }
}
@media (max-width: 450px)
{
    main > header #logo_don
    {
        width: 30px;
    }
    #albumList .album 
    {
        width: 50%;
    }
}
@media (max-width: 400px)
{
    body
    {
        font-size: 12px;
    }
    main > header #logo_don
    {
        left: 5vw;
        width: 25px;
    }
    main > header #logo_mobile, body > header #loupe img
    {
        right: 5vw;
        width: 25px;
    }
    body > header #logo_dogmazic
    {
        width: 40px;
    }
}